
.slideItem{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
    width: 100%;
}
.slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}
.title{
    color : #1BFCB6;
    align-self: flex-start;
    min-width: 50%;
    font-size: 2.7vw;
    margin-block: 0;
}

.dotsButton li button::before{
font-size: 16px !important;
color : #1BFCB6 !important;
}
.slideImg{
    object-fit: contain;
    /* align-self: flex-start; */
}
.section{
    position: relative;
    background-color: #0F1546
    /* background-image: linear-gradient(
  45deg,
  hsl(233deg 65% 17%) 0%,
  hsl(233deg 65% 17%) 63%,
  hsl(196deg 100% 36%) 88%,
  hsl(161deg 97% 55%) 98%,
  hsl(161deg 97% 55%) 100%
); */
}
.section::after{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height:  100px;
    background: transparent;
    /* box-shadow: 0 0 20px rgb(127, 153, 127),  
    0 0 20px rgb(27, 252, 182),  
    0 0 40px rgb(27, 252, 182),  
    0 0 60px rgb(27, 252, 182),  
    0 0 80px rgb(27, 252, 182), 
    0 0 120px rgb(27, 252, 182),  
    0 0 220px rgb(27, 252, 182), 
    0 0 320px rgb(27, 252, 182); */
    box-shadow: 
    0 0 20px rgb(127, 153, 127),  
    /* 0 0 20px rgb(27, 252, 182),   */
    /* 0 0 40px rgb(27, 252, 182),   */
    /* 0 0 60px rgb(27, 252, 182),   */
    /* 0 0 80px rgb(27, 252, 182),  */
    /* 0 0 120px rgb(27, 252, 182),   */
    0 0 220px rgb(27, 252, 182), 
    0 0 320px rgb(27, 252, 182);
    border-radius: 50%;
}
.section::before{
    content: '';
    position: absolute;
    top: -100px;
    right: -100px;
    transform: translateX(-50%);
    width: 150px;
    height:  100px;
    background: transparent;
    box-shadow: 
    0 0 20px rgb(127, 153, 127),  
    /* 0 0 20px rgb(27, 252, 182),   */
    /* 0 0 40px rgb(27, 252, 182),   */
    /* 0 0 60px rgb(27, 252, 182),   */
    /* 0 0 80px rgb(27, 252, 182),  */
    /* 0 0 120px rgb(27, 252, 182),   */
    0 0 220px rgb(27, 252, 182), 
    0 0 320px rgb(27, 252, 182);
    border-radius: 50%;
}

@media only screen and (min-width: 1300px) {
    .title {
        font-size: 3vw;
    }
    .slogan{
      font-size: 1.5vw; 
  }
    .slideImg {
      width: 500px; 
      height: 300px; 
    }
    .logo{
        width: 10vw;
        height: 10vh;
        object-fit: contain;
    }
    .dotsButton li button::before{
        font-size: 25px !important;
    }
    .dotsButton li{
        padding:18px;
    }
  }
  